.container {
  width: 100%;
  padding: 0 2em;
  margin-top: 2rem;
}

.container:last-of-type {
  margin-bottom: 3rem;
}

.rocket {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rocket img {
  width: 100%;
  height: 250px;
  margin-right: 1rem;
}

.details h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  font-weight: 500;
}

.details p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: rgb(41, 39, 39);
  line-height: 1.7;
}

.details p span {
  padding: 0.1em 1em;
  border-radius: 8px;
  background-color: #58b0f3ee;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.85rem;
  letter-spacing: 2px;
  font-weight: 300;
  margin-right: 0.5rem;
}

.btn {
  background-color: #0290ff;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  margin-top: 1rem;
  border: none;
  padding: 0.5em 1em;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #1576c0;
}

.reserved {
  background-color: transparent;
  color: rgb(56, 54, 54);
  padding: 0.5em 1em;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    padding: 0 6em;
    margin-top: 2rem;
  }

  .rocket {
    display: flex;
    flex-direction: row;
    align-items: unset;
  }

  .rocket img {
    width: 270px;
    height: 200px;
    margin-right: 1.5rem;
  }

  .details h2 {
    margin-top: 0;
  }

  .details button {
    margin-top: 1rem;
  }
}
